.App {
  height:100%;
  width:20rem;
  align-items: center;
}

#self-pic{
  width:20rem;
}
#title{
  color:brown;
}
#website{
  font-size: xx-small;
}
.my-btn{
  width: 5rem;
  font-size: xx-small;
  text-align: center;
}
.my-btn:last-of-type{
  background-color: white;
}
#linkedin{
  width:1em;
  margin-right: 0.2em;
  margin-bottom: 0.2em;
}
#svg{
  margin-bottom:0.2em;
}
